<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>caveatGlobal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="">
  </head>
  <body style="font-family:serif;border:solid lightblue;border-width:.3px;background-color:black;padding:22px;height:700vh;">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<div class="navContainer">
 <a href="#"> <img class="logo"src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/163148802_4423789508906_1467717329119223013_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=gL1IpFFdX_IAX-yc6EF&_nc_ht=scontent-dfw5-2.xx&oh=4d1d20289371456e6ae3fdf8b921896f&oe=607A2C90"></a>
    <a style="text-decoration:none;" href="/training"><div class="elNav">Training</div></a>
   <a style="text-decoration:none;" href="/introspect"> <div class="elNav">n2rOspeX</div></a>
    <a style="text-decoration:none;" href="/contact"><div class="elNav">Contact</div></a>
</div>


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1581092795442-d153057d8e0d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTM0fHx0ZWNobm9sb2d5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1532619675605-1ede6c2ed2b0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1611095971113-9f7542655338?ixid=MXwxMjA3fDF8MHxzZWFyY2h8MTI2fHx0ZWNobm9sb2d5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h1 class="midTheme">Caveat Global Business Solutions </h1>

<hr>
<img style="height:auto;padding:3em;width:100%;"src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/163148802_4423789508906_1467717329119223013_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=gL1IpFFdX_IAX-yc6EF&_nc_ht=scontent-dfw5-2.xx&oh=4d1d20289371456e6ae3fdf8b921896f&oe=607A2C90">




<div class="proServContainer">
      <div class="screen">
</div>
      <div class="menu">
              <div class="itemSm">Web Design</div>
              <div class="itemSm">Counsulting</div>
              <div class="itemSm">Training</div>
              <div class="itemSm"> Automation</div>
      </div>
</div>

<div></div>

<div></div>
<div></div>


<img class="chipPic" src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       <h5 style="text-align:center;color:lightblue;">  <img class="logo"src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/163148802_4423789508906_1467717329119223013_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=gL1IpFFdX_IAX-yc6EF&_nc_ht=scontent-dfw5-2.xx&oh=4d1d20289371456e6ae3fdf8b921896f&oe=607A2C90">
CGBS  Operations Guide</h2>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h5 style="text-align:center;color:lightblue;">  <img class="logo"src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/163148802_4423789508906_1467717329119223013_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=gL1IpFFdX_IAX-yc6EF&_nc_ht=scontent-dfw5-2.xx&oh=4d1d20289371456e6ae3fdf8b921896f&oe=607A2C90">
CGBS  Mission Statement</h2>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <h5 style="text-align:center;color:lightblue;">  <img class="logo"src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/163148802_4423789508906_1467717329119223013_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=gL1IpFFdX_IAX-yc6EF&_nc_ht=scontent-dfw5-2.xx&oh=4d1d20289371456e6ae3fdf8b921896f&oe=607A2C90">
CGBS  Investment Strategies</h2>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>


<div class="curtainContainer">
    <div class="left">
    <h4 class="vHub"style="border-width:.3px;margin-left:5%;font-size:14px;position:absolute;margin-top:8%;border:solid salmon;padding:4px;border-radius:32px;color:white;text-align:center;">Enter Private Virtual Hub</h4>
          <img style="width:100%;"src="https://images.unsplash.com/photo-1535223289827-42f1e9919769?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fHRlY2hub2xvZ3l8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60">
    </div>

    
</div>
<div></div>




<hr>
  <img class="logo"src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/163148802_4423789508906_1467717329119223013_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=gL1IpFFdX_IAX-yc6EF&_nc_ht=scontent-dfw5-2.xx&oh=4d1d20289371456e6ae3fdf8b921896f&oe=607A2C90">

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="" ></script>
  </body>
</html>