.logo{
    height:50px;
}
.navContainer{
    border:solid white;
    border-width:.2px;
    display:flex;
    justify-content: space-evenly;

}
.elNav{
    text-align:center;
    padding:8px;
    height:40px;
     color:white;
}
.elNav:hover{
    text-align:center;
    padding:8px;
    height:40px;
     color:greenyellow;
}
.proServContainer{
    border:solid lightblue;
    border-width:.3px;
    display:flex;
    height:auto;
    padding:8px;

}
.screen{
    border:solid yellow;
    width:60%;
    border-width:.3px;
}
.menu{
    border:solid salmon;
    width:40%;
    padding:6px;
    border-width:.3px;
}
.itemSm{
    border:solid lightblue;
    border-width:.3px;
    border-radius:22px;
    text-align:center;
    margin:8%;
    color:white;
}
.itemSm:hover{
    border:solid lightblue;
    border-width:.3px;
    border-radius:22px;
    text-align:center;
    margin:8%;
    background-color:lightsalmon;
    color:white;
}
.midTheme{
    text-align:center;
    color:lightblue;
    margin-top: 25px;
}
.chipPic{
    width:100%;
}
.curtainContainer{
    display: flex;
    padding:1em;
}
.left{
    border: dotted limegreen;
    border-width:4px;
    width:100%;
}
.right{
    border:solid green;
    border-width:.3px;
    padding:1em;
    width:40%;
}
.badgeBox{
    // border:solid grey;
    height:auto;
    padding:16px;
}
.serviceMini{
    border:solid lightskyblue;
    border-radius:23px;
    border-width:.3px;
    margin:12px;
    padding:32px;
    height:auto;
}

.badge{
    border:solid green;
    height:90px;
}
.apply{
    color:white;
    border:solid white;
    border-width:.3px;
    text-align:center;
    margin-top:1em;
}
.apply:hover{
    color:white;
    border:solid white;
    border-width:.3px;
    background-color:green;
    text-align:center;
    margin-top:1em;
}
.accordion-body{
    color:lemonchiffon;

}
.vHub:hover{
background-color:green;
}
.cboard{
    border:solid white;
    padding:8px;
    border-width:.3px;
    text-align:center;
    color:salmon;
}
.comContainer{  
    border:solid lightblue;
    border-width:.3px;
    margin:45px;
    padding:1em;
    width:100%;
    display:flex;
}
.com_screen{
    // border:solid green;
    border-width:.3px;
    text-align:center;
    color:white;
    margin:1em;
}
.com_controller{
    // border:solid orange;
    border-width:.3px;
    font-size:26px;
    text-align:center;
    color:lemonchiffon;
}